<div class="row mt-5">
	<a routerLink="/add-ride" class="btn btn-info">Add New Ride</a>
</div>
<div class="container mt-4">
	<div class="input-group pl-0">
    <!--<input class="form-control my-0 py-1" [(ngModel)]="searchText" placeholder="enter search here" type="text">
    <div class="input-group-append">
      <span class="input-group-text">
        <span class="glyphicon glyphicon-search text-blue"></span>
      </span>
    </div> -->
  </div>

  <div class="card mt-2" *ngFor='let ride of rides'>
    <div class="card-body">
      <h5 class="card-title">{{ride.vType}} : {{ride.vNumber}}</h5>
      <div class="card-text">
        <div>Total Seat: {{ride.totalSeat}}</div>
        <div>Available Seat: {{ride.availableSeat-ride.bookings.length}}</div>
        <ul *ngIf="ride.bookings.length > 0">
          <li>You are sharing ride with {{ride.bookings.length}} person.</li>
          <li>
            <b>Timing: </b>
              <ul>
                <li *ngFor='let time of ride.bookings'>
                  <span *ngIf="time.pickupTime">{{time.pickupTime}}</span>
                </li>
              </ul>
            </li>
        </ul> 
      </div>
      <a class="btn btn-info" [routerLink]="['/pick-ride', ride.id]">Pick ride</a>
    </div>
  </div>
</div>