<div class="container mt-5">
<form class="form-horizontal col-12 mt-5" [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
  <fieldset>
 
    <div class="form-row mt-4">

      <label class="offset-md-2 col-md-2 col-form-label" for="email">E-mail</label>
      <div class="col-md-7">
        <input type="email" id="email" formControlName="email" placeholder="email" class="form-control">
        <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="alert-danger">Please enter the Email</span>
      </div>
    </div>

    <div class="form-row mt-4">

      <label class="offset-md-2 col-md-2 col-form-label" for="password">Password</label>
      <div class="col-md-7">
        <input type="password" id="password" formControlName="password" placeholder="password" class="form-control">
        <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="alert-danger">Please enter the Password</span>
      </div>
    </div>
 
    <div class="form-row mt-4">

      <div class="col-md-11">
        <button class="btn btn-info float-right" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
      <!-- <a routerLink="/register" class="btn btn-info">Register</a> -->
    </div>
  </fieldset>

</form>
</div>