<nav class="navbar sticky-top navbar-dark bg-info mb-5">
  <a class="navbar-brand" href="/">Transport Facility</a>
  	<div class="nav navbar-right">
      	<a *ngIf="!isLoggedIn()" routerLink="/login"class="text-light ml-4"> Login </a>
      	<a *ngIf="!isLoggedIn()" routerLink="/register" class="text-light ml-4">Register</a>
    	<a *ngIf="isLoggedIn()" routerLink="/list-ride" (click) = "logout()" class="text-light"> Logout</a>
    </div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>